
	<body class="index">
		<div id="page-wrapper">
<!--

				<header id="header" class="alt">
					<h1 id="logo"><a href="index.html">Twenty <span>by HTML5 UP</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="index.html">Welcome</a></li>
							<li class="submenu">
								<a href="#">Layouts</a>
								<ul>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>
-->
			<!-- Banner -->
				<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>Bazzaoui Chaymae</h2>
						</header>
						<p>I am a <strong>Software developer</strong>, who loves Ruby and Swift.
						<br />
						And an Inner directed person.</p>
						<footer>
							<ul class="buttons vertical">
								<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
							</ul>
						</footer>

					</div>

				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-laptop"></span>
						<h2><strong> WHO AM I ?</strong></h2>
              <br/><%= image_tag 'me.jpg', style: "width: 250px;" %><br/>
						<p>
              I am a second year software engineering student at ENSIAS (École nationale supérieure <br/>
              d'informatique et d'analyse des systèmes), After taking two years at CPGE. <br/>
            On my spare time, I like to research about <strong>Rails and iOS programming.</strong> <br/>
            I always feel the need to learn new things and investigate on whatever I find interesting. <br/>
						<br/>

						</p>
					</header>

					<!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row 50%">
								<div class="8u 12u(narrower)">

									<header>
										<h2>Examples of technologies I toyed with ?</h2>
									</header>

									<p><br/>
                    In my samples, I tried some of OAuth 2 strategies for Omniauth like 'omniauth-facebook' and 'omniauth-twitter', also tried 'Stripe' and 'Devise' gem which is powerfull. Lately, I am trying some ActionCable real-time messaging as an update to an app built using 'mailboxer'.
                  </p>
									<footer>
										<ul class="buttons">
											<li><a target="_blank" href="https://github.com/chaymaeBZ" class="button">Find Out More</a></li>
										</ul>
									</footer>

								</div>
								<div class="4u 12u(narrower) important(narrower)">

									<ul class="featured-icons">
										<li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
										<li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
										<li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
										<li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
										<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
										<li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>

									</ul>

								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
              <h2>here is more ...</h2>
							<div class="row">

								<div class="4u 12u(narrower)">

									<section>
										<span><%= image_tag "heroku-512.png", style: "width: 100px;" %></span>
										<header>
											<h3>Heroku</h3>
										</header>
										<p>Where I deploy my rails apps. In fact, you are looking at it right now ...</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<span><%= image_tag "elephant.png", style: "width: 100px;" %></span>
										<header>
											<h3>PostgreSQL</h3>
										</header>
										<p>This comes in handy when working with heroku ..</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<span><%= image_tag "github-512.png", style: "width: 100px;" %></span>
										<header>
											<h3>Github</h3>
										</header>
										<p>To keep my code clean and share it easily.</p>
									</section>

								</div>

							</div>
						</section>

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>Next this is my <strong>iBooks library</strong></h2>
							</header>

							<div class="row">
								<div class="12u 12u(narrower)">

									<section>
										<%= image_tag "mylib", style: "width: 100%;" %>

										<p>This is a mixture of books I am still reading and those I finished.</p>
									</section>

								</div>

							</div>




						</section>

				</article>

			<!-- CTA -->
				<section id="cta">

					<header>
						<h2>Did you find <strong>something</strong><br/> interessting about me ?</h2>
						<p>Did you like what I do ? Do you have a cool project I can contribute to ?<br/>
							 Or maybe Have any recommendations ? Please write me whatever comes across <br/>
							 your mind, I'd love to hear about you.</p>
					</header>
					<footer>
						<ul class="buttons">
							<li><a href="#" class="button special">Contact me</a></li>
						</ul>
					</footer>

				</section>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
					</ul>

					<ul class="copyright">
						<li>&copy; Bazzaoui chaymae</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
